* {
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 80%;
  border: 1px solid;
  font-family: sans-serif;
  color: slategrey;
  background-color: turquoise;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px;
  overflow: hidden;
  grid-column-gap: 5px;
  grid-row-gap: 2px;
}

.header{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 150px;
}

.image1{
  background-image: url("reading.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.image2{
  background-image: url("locking.png");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end: 4;
}

.footer{
  grid-column-start:1;
  grid-column-end: 3;
}

a:link, a:visited{
  color: gold;
  text-decoration: none;
}

a:hover{
  color: white;
}
