*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 90%;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  overflow: hidden;
  /* grid-auto-rows: 200px; */
  font-family: sans-serif;
  color: slategrey;

}

.logo{
  /* border: 1px solid blue; */
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 200px;
}

.navbar{
  grid-column-start: 2;
  grid-column-end: 3;
  display: block;
  text-align: right;
  position: relative;
  top: 120px;
  text-transform: uppercase;
  margin-right: 10px;
}

a:link{
  font-family: sans-serif;
  text-decoration: none;
  color: slategrey;
}

a:visited{
  color: slategrey;
}

a:hover {
  color: gold;
  font-weight: bold;
}

.main{
  border: 3px solid turquoise;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  background-color: white;
  /* height: 300px; */
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.images{
  width: 70%;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media all and (max-width: 480px){
  .gallery{
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

  }
}

@media all and (min-width: 481px) and (max-width: 768px){
  .gallery{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

  }
}
@media all and (min-width: 769px) and (max-width: 992px){
  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

  }
}
